apiVersion: v1
kind: Service
metadata:
  name: calculator-service
spec:
  type: NodePort
  selector:
    app: calculator
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080

      # kubectl config view
      # minikube service list
      #curl -X POST http://192.168.49.2:30080/calc/summarise -d '{"first": 1, "second": 1}' -H "Content-Type: application/json"
